In [2]:
import pymongo

In [3]:
pymongo.version

'3.12.0'

In [5]:
from getpass import getpass
user = getpass('Nom d\'usuari', )
pasword = getpass('Contrasenya', )

client = pymongo.MongoClient("mongodb+srv://"+user+":"+pasword+"@cluster0.5umcw.mongodb.net/?retryWrites=true&w=majority")

db = client.test

Nom d'usuari········
Contrasenya········

In [6]:
print(db)

Database(MongoClient(host=['cluster0-shard-00-01.5umcw.mongodb.net:27017', 'cluster0-shard-00-02.5umcw.mongodb.net:27017', 'cluster0-shard-00-00.5umcw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-dwyal9-shard-0', ssl=True), 'test')

In [6]:
ndb = client['ExampleDB'] #Genera base de dades

In [7]:
collection1 = ndb['clients'] #Genera una col·lecció

In [8]:
#Introdueix el primer grup de dades en collection
datos = {'name':'John', 'address': 'Antonia 37'}

x = collection1.insert_one(datos)

In [9]:
print(ndb.list_collection_names())

['clients']

In [5]:
print(client.list_database_names())

['ExampleDB', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

In [12]:
x.inserted_id

ObjectId('62c9a2cfddd14c07e231db10')

In [13]:
#Introducimos un segundo individu o document
datos = {'name': 'Pepito', 'addres':'Sherlock 42'}

x = collection1.insert_one(datos)

x.inserted_id

ObjectId('62c9a5e5ddd14c07e231db11')

In [14]:
#Per insertar diferents individus de cop

list1 = [
    {'name':'Piolin', 'address':'Silvester'},
    {'name':'Son Goku', 'address':'Dragon ball'},
    {'name': 'David el gnomo', 'address':'forest'}
]

x = collection1.insert_many(list1)

In [15]:
x.inserted_ids

[ObjectId('62c9a74bddd14c07e231db12'),
 ObjectId('62c9a74bddd14c07e231db13'),
 ObjectId('62c9a74bddd14c07e231db14')]

In [18]:
x = collection1.find_one()

x

{'_id': ObjectId('62c721b28807c71e129e9aa4'),
 'name': 'John',
 'address': 'Antonia 37'}

In [27]:
x = collection1.find({}, {'_id':False})
for n in x:
    print(n)

{'name': 'John', 'address': 'Antonia 37'}
{'name': 'John', 'address': 'Antonia 37'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Son Goku', 'address': 'Dragon ball'}
{'name': 'David el gnomo', 'address': 'forest'}

In [28]:
#Probem de trobar un sol objecte
x = collection1.find({'name':'Son Goku'})

for n in x:
    print(n)

{'_id': ObjectId('62c9a74bddd14c07e231db13'), 'name': 'Son Goku', 'address': 'Dragon ball'}

In [33]:
#Ara ignoarant la id
x = collection1.find({'name':'Son Goku'},{'_id':False})

for n in x:
    print(n)

{'name': 'Son Goku', 'address': 'Dragon ball'}

In [39]:
#Per buscar alguna cosa que inicia amb un valor hi ha la següent opció:
x = collection1.find({'name':{'$gt':'P'}}, {'_id':False})

for n in x:
    print(n)

{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Son Goku', 'address': 'Dragon ball'}

In [41]:
#O buscar un nom en concret
x = collection1.find({'name':{'$eq':'John'}})

for n in x:
    print(n)
    
#Veiem que el registre està introduït dues vegades

{'_id': ObjectId('62c721b28807c71e129e9aa4'), 'name': 'John', 'address': 'Antonia 37'}
{'_id': ObjectId('62c9a2cfddd14c07e231db10'), 'name': 'John', 'address': 'Antonia 37'}

In [43]:
#Si volem trobar un combinació concreta de caràcters utilitzarem una regular expression
x = collection1.find({'name':{'$regex':'^D'}},{'_id':False})

for n in x:
    print(n)

{'name': 'David el gnomo', 'address': 'forest'}

In [46]:
#Endreçar les dades
x = collection1.find({}, {'_id':0}).sort('name',-1)#Ordre descendent

for n in x:
    print(n)

{'name': 'Son Goku', 'address': 'Dragon ball'}
{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'John', 'address': 'Antonia 37'}
{'name': 'John', 'address': 'Antonia 37'}
{'name': 'David el gnomo', 'address': 'forest'}

In [47]:
#Decidim eliminar el document John que es repeteix dues vegades

collection1.delete_one({'name':'John'})

x = collection1.find({}, {'_id':0})

for n in x:
    print(n)

{'name': 'John', 'address': 'Antonia 37'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Son Goku', 'address': 'Dragon ball'}
{'name': 'David el gnomo', 'address': 'forest'}

In [49]:
#Si volem eliminar només els documents on address comença amb S

collection1.delete_many({'address':'^S'})

x = collection1.find({},{'_id':0})

for n in x:
    print(n)
    
#Com era d'esperar el document amb name Pepito no ha sigut eliminat perquè
#en comptes de address diu addres

{'name': 'John', 'address': 'Antonia 37'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Son Goku', 'address': 'Dragon ball'}
{'name': 'David el gnomo', 'address': 'forest'}

In [50]:
#Si volem eliminar tots els documents de la col·lecció
x = collection1.delete_many({})

print(x.deleted_count)

#Es mostra el número total de documents eliminats

5

In [51]:
#Si volem esborrar la col·lecció que ha quedat buida:

collection1.drop()

In [52]:
#Comprobem si la col·lecció conté dades
x = collection1.find({})

for n in x:
    print(n)

In [53]:
#La cel·la anterior no dona resultat perquè està buida com es mostra a continuació
print(ndb.list_collection_names())

[]

In [54]:
#Tornem a carregar els documentes

list2 = [
    {'name':'Piolin', 'address':'Silvester'},
    {'name':'Son Goku', 'address':'Dragon ball'},
    {'name': 'David el gnomo', 'address':'forest'},
    {'name': 'Pepito', 'addres':'Sherlock 42'},
    {'name':'John', 'address': 'Antonia 37'}
]

collection1.insert_many(list2)

x = collection1.find({})

for n in x:
    print(n)

{'_id': ObjectId('62cb16aeddd14c07e231db15'), 'name': 'Piolin', 'address': 'Silvester'}
{'_id': ObjectId('62cb16aeddd14c07e231db16'), 'name': 'Son Goku', 'address': 'Dragon ball'}
{'_id': ObjectId('62cb16aeddd14c07e231db17'), 'name': 'David el gnomo', 'address': 'forest'}
{'_id': ObjectId('62cb16aeddd14c07e231db18'), 'name': 'Pepito', 'addres': 'Sherlock 42'}
{'_id': ObjectId('62cb16aeddd14c07e231db19'), 'name': 'John', 'address': 'Antonia 37'}

In [74]:
#Si volem modificar un registre

collection1.update_one({'address':'forest'},{'$set':{'address':'The Forest'}})
#$set li diu que substituiexi un valor per un altre

x = collection1.find_one({'address':{'$regex':'The Forest'}}, {'_id':0})

print(x)

{'name': 'David el gnomo', 'address': 'The Forest'}

In [62]:
x = collection1.find({},{'_id':0})

for n in x:
    print(n)

{'name': 'Piolin', 'address': 'Silvester'}
{'name': 'Son Goku', 'address': 'Dragon ball'}
{'name': 'David el gnomo', 'address': 'The Forest'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}
{'name': 'John', 'address': 'Antonia 37'}

In [77]:
#Si volem limitar el número de dades a mostrar en qualsevol cerca

x = collection1.find({},{'_id':0}).limit(3).sort('name')

for n in x:
    print(n)

{'name': 'David el gnomo', 'address': 'The Forest'}
{'name': 'John', 'address': 'Antonia 37'}
{'name': 'Pepito', 'addres': 'Sherlock 42'}

# Nivell 2


## Exercici 1

Carrega algunes consultes senzilles a un Pandas Dataframe.

In [7]:
client.list_database_names()

['ExampleDB',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [8]:
#S'escull la base de dades weather
weather = db.get_collection('sample_weatherdata')

In [9]:
weather = client.get_database('sample_weatherdata')
weather.list_collection_names()

['data']

In [10]:
col_weather = weather.get_collection('data')
x = col_weather.find_one()
print(x)

{'_id': ObjectId('5553a998e4b02cf7151190b8'), 'st': 'x+47600-047900', 'ts': datetime.datetime(1984, 3, 5, 13, 0), 'position': {'type': 'Point', 'coordinates': [-47.9, 47.6]}, 'elevation': 9999, 'callLetters': 'VCSZ', 'qualityControlProcess': 'V020', 'dataSource': '4', 'type': 'FM-13', 'airTemperature': {'value': -3.1, 'quality': '1'}, 'dewPoint': {'value': 999.9, 'quality': '9'}, 'pressure': {'value': 1015.3, 'quality': '1'}, 'wind': {'direction': {'angle': 999, 'quality': '9'}, 'type': '9', 'speed': {'rate': 999.9, 'quality': '9'}}, 'visibility': {'distance': {'value': 999999, 'quality': '9'}, 'variability': {'value': 'N', 'quality': '9'}}, 'skyCondition': {'ceilingHeight': {'value': 99999, 'quality': '9', 'determination': '9'}, 'cavok': 'N'}, 'sections': ['AG1'], 'precipitationEstimatedObservation': {'discrepancy': '2', 'estimatedWaterDepth': 999}}

In [11]:
for n in x:
    print(n)

_id
st
ts
position
elevation
callLetters
qualityControlProcess
dataSource
type
airTemperature
dewPoint
pressure
wind
visibility
skyCondition
sections
precipitationEstimatedObservation

In [12]:
col_weather.count_documents({})
#En total hi ha 10.000 registres relacionats amb el clima

10000

In [13]:
import pandas as pd

In [14]:
all_data = col_weather.find({})
type(all_data)

pymongo.cursor.Cursor

In [15]:
df = pd.DataFrame(list(all_data))
print(df.shape)

(10000, 27)

In [16]:
df.head()

,_id,st,ts,position,elevation,callLetters,qualityControlProcess,dataSource,type,airTemperature,...,atmosphericPressureChange,seaSurfaceTemperature,waveMeasurement,pastWeatherObservationManual,skyConditionObservation,presentWeatherObservationManual,atmosphericPressureObservation,skyCoverLayer,liquidPrecipitation,extremeAirTemperature
0,5553a998e4b02cf7151190b8,x+47600-047900,1984-03-05 13:00:00,"{'type': 'Point', 'coordinates': [-47.9, 47.6]}",9999,VCSZ,V020,4,FM-13,"{'value': -3.1, 'quality': '1'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5553a998e4b02cf7151190b9,x+45200-066500,1984-03-05 14:00:00,"{'type': 'Point', 'coordinates': [-66.5, 45.2]}",9999,VC81,V020,4,FM-13,"{'value': -4.7, 'quality': '1'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5553a998e4b02cf7151190ba,x+51900+003600,1984-03-05 14:00:00,"{'type': 'Point', 'coordinates': [3.6, 51.9]}",9999,PLAT,V020,4,FM-13,"{'value': 4.4, 'quality': '1'}",...,"{'tendency': {'code': '2', 'quality': '1'}, 'q...","{'value': 4.5, 'quality': '9'}","{'method': 'I', 'waves': {'period': 4, 'height...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5553a998e4b02cf7151190bb,x+60900-005300,1984-03-05 15:00:00,"{'type': 'Point', 'coordinates': [-5.3, 60.9]}",9999,TFRB,V020,4,FM-13,"{'value': 7.5, 'quality': '1'}",...,NaN,NaN,NaN,"[{'atmosphericCondition': {'value': '0', 'qual...","{'totalCoverage': {'value': '08', 'opaque': '9...","[{'condition': '02', 'quality': '1'}]",NaN,NaN,NaN,NaN
4,5553a998e4b02cf7151190bc,x+66300-025200,1984-03-05 15:00:00,"{'type': 'Point', 'coordinates': [-25.2, 66.3]}",9999,TFBY,V020,4,FM-13,"{'value': 0.4, 'quality': '1'}",...,NaN,NaN,NaN,"[{'atmosphericCondition': {'value': '0', 'qual...","{'totalCoverage': {'value': '05', 'opaque': '9...","[{'condition': '02', 'quality': '1'}]",NaN,NaN,NaN,NaN

In [17]:
for i in range(df.shape[1]):
    print(i,' ',type(df.iloc[0,i]))

0   <class 'bson.objectid.ObjectId'>
1   <class 'str'>
2   <class 'pandas._libs.tslibs.timestamps.Timestamp'>
3   <class 'dict'>
4   <class 'numpy.int64'>
5   <class 'str'>
6   <class 'str'>
7   <class 'str'>
8   <class 'str'>
9   <class 'dict'>
10   <class 'dict'>
11   <class 'dict'>
12   <class 'dict'>
13   <class 'dict'>
14   <class 'dict'>
15   <class 'list'>
16   <class 'dict'>
17   <class 'float'>
18   <class 'float'>
19   <class 'float'>
20   <class 'float'>
21   <class 'float'>
22   <class 'float'>
23   <class 'float'>
24   <class 'float'>
25   <class 'float'>
26   <class 'float'>

In [81]:
df2 = df.copy()

In [156]:
def data_type(data):
    a = data
    type_a = a['type']
    return type_a

t = df2.iloc[0,3]

data_type(df2.iloc[0,3])

'Point'

In [154]:
df2['position'].isna().sum()

6

In [170]:
df2['type_postion'] = df2['position'].apply(data_type)

TypeError: 'float' object is not subscriptable

Probablement apply no està funcionant perquè hi ha NAs en el registre. Per tant es transformaran les dades a través d'altres mètodes de pandas.

In [83]:
position = df2.position
t = position.to_dict()
t

{0: {'type': 'Point', 'coordinates': [-47.9, 47.6]},
 1: {'type': 'Point', 'coordinates': [-66.5, 45.2]},
 2: {'type': 'Point', 'coordinates': [3.6, 51.9]},
 3: {'type': 'Point', 'coordinates': [-5.3, 60.9]},
 4: {'type': 'Point', 'coordinates': [-25.2, 66.3]},
 5: {'type': 'Point', 'coordinates': [-29.7, 59.8]},
 6: {'type': 'Point', 'coordinates': [-172.0, 79.8]},
 7: {'type': 'Point', 'coordinates': [-55.9, 49.7]},
 8: {'type': 'Point', 'coordinates': [1.5, 59.5]},
 9: {'type': 'Point', 'coordinates': [4.8, 55.6]},
 10: {'type': 'Point', 'coordinates': [11.8, 68.4]},
 11: {'type': 'Point', 'coordinates': [2.1, 56.5]},
 12: {'type': 'Point', 'coordinates': [-0.7, 47.6]},
 13: {'type': 'Point', 'coordinates': [-59.7, 43.7]},
 14: {'type': 'Point', 'coordinates': [173.4, -39.6]},
 15: {'type': 'Point', 'coordinates': [10.5, 67.4]},
 16: {'type': 'Point', 'coordinates': [3.2, 53.2]},
 17: {'type': 'Point', 'coordinates': [3.2, 51.9]},
 18: {'type': 'Point', 'coordinates': [116.2, 21.1]},
 19: {'type': 'Point', 'coordinates': [-65.6, 43.4]},
 20: {'type': 'Point', 'coordinates': [-70.4, 47.4]},
 21: {'type': 'Point', 'coordinates': [5.0, 55.3]},
 22: {'type': 'Point', 'coordinates': [-16.1, 63.2]},
 23: {'type': 'Point', 'coordinates': [60.3, -19.3]},
 24: {'type': 'Point', 'coordinates': [-61.2, 24.7]},
 25: {'type': 'Point', 'coordinates': [-67.6, 41.0]},
 26: {'type': 'Point', 'coordinates': [59.2, 20.7]},
 27: {'type': 'Point', 'coordinates': [17.2, 56.3]},
 28: {'type': 'Point', 'coordinates': [147.6, 44.9]},
 29: {'type': 'Point', 'coordinates': [-48.7, -34.6]},
 30: {'type': 'Point', 'coordinates': [-54.4, 49.5]},
 31: {'type': 'Point', 'coordinates': [114.3, 12.8]},
 32: {'type': 'Point', 'coordinates': [102.5, 2.0]},
 33: {'type': 'Point', 'coordinates': [-109.8, 15.6]},
 34: {'type': 'Point', 'coordinates': [143.9, 23.4]},
 35: {'type': 'Point', 'coordinates': [148.4, 44.9]},
 36: {'type': 'Point', 'coordinates': [-28.4, -9.5]},
 37: {'type': 'Point', 'coordinates': [161.2, -27.0]},
 38: {'type': 'Point', 'coordinates': [141.8, 35.1]},
 39: {'type': 'Point', 'coordinates': [-72.8, 21.9]},
 40: {'type': 'Point', 'coordinates': [10.8, 54.1]},
 41: {'type': 'Point', 'coordinates': [104.2, -24.4]},
 42: {'type': 'Point', 'coordinates': [143.3, 35.2]},
 43: {'type': 'Point', 'coordinates': [139.4, 8.5]},
 44: {'type': 'Point', 'coordinates': [108.3, -52.5]},
 45: {'type': 'Point', 'coordinates': [119.5, -9.1]},
 46: {'type': 'Point', 'coordinates': [96.7, 5.7]},
 47: {'type': 'Point', 'coordinates': [-87.1, 10.3]},
 48: {'type': 'Point', 'coordinates': [42.6, 14.4]},
 49: {'type': 'Point', 'coordinates': [-74.5, 19.3]},
 50: {'type': 'Point', 'coordinates': [-52.9, 23.7]},
 51: {'type': 'Point', 'coordinates': [-76.0, 26.4]},
 52: {'type': 'Point', 'coordinates': [-10.6, 32.3]},
 53: {'type': 'Point', 'coordinates': [-48.6, 35.9]},
 54: {'type': 'Point', 'coordinates': [159.6, 39.4]},
 55: {'type': 'Point', 'coordinates': [-9.7, 42.5]},
 56: {'type': 'Point', 'coordinates': [-46.2, 46.4]},
 57: {'type': 'Point', 'coordinates': [-37.0, 48.2]},
 58: {'type': 'Point', 'coordinates': [3.7, 54.3]},
 59: {'type': 'Point', 'coordinates': [3.1, 58.5]},
 60: {'type': 'Point', 'coordinates': [151.5, -1.1]},
 61: {'type': 'Point', 'coordinates': [113.0, -7.5]},
 62: {'type': 'Point', 'coordinates': [61.6, -14.5]},
 63: {'type': 'Point', 'coordinates': [88.7, -26.5]},
 64: {'type': 'Point', 'coordinates': [152.9, -37.8]},
 65: {'type': 'Point', 'coordinates': [-68.4, 41.7]},
 66: {'type': 'Point', 'coordinates': [-35.1, 22.0]},
 67: {'type': 'Point', 'coordinates': [-130.2, 46.2]},
 68: {'type': 'Point', 'coordinates': [175.3, -36.2]},
 69: {'type': 'Point', 'coordinates': [-91.2, 26.8]},
 70: {'type': 'Point', 'coordinates': [-144.6, 51.3]},
 71: {'type': 'Point', 'coordinates': [-9.1, 37.8]},
 72: {'type': 'Point', 'coordinates': [61.8, 6.3]},
 73: {'type': 'Point', 'coordinates': [-117.2, 31.4]},
 74: {'type': 'Point', 'coordinates': [-10.3, 48.1]},
 75: {'type': 'Point', 'coordinates': [127.0, -12.4]},
 76: {'type': 'Point', 'coordinates': [-121.0, 16.8]},
 77: {'type': 'Point', 'coordinates': [155.2, 52.6]},
 78: {'type': 'Point', 'coordinates': [-65.4, -46.5]},
 79: {'type': 'Point', 'coordinates': [-109.0, 3.6]},
 80: {'type': 'Point', 'coordinates': [68.7, 8.9]},
 81: {'type': 'Point', 'coordinates': [-119.8, 12.5]},
 82: {'type': 'Point', 'coordinates': [-17.7, 16.7]},
 83: {'type': 'Point', 'coordinates': [-83.5, 19.7]},
 84: {'type': 'Point', 'coordinates': [-55.7, 21.3]},
 85: {'type': 'Point', 'coordinates': [-63.1, 22.4]},
 86: {'type': 'Point', 'coordinates': [150.4, 24.2]},
 87: {'type': 'Point', 'coordinates': [-87.4, 25.5]},
 88: {'type': 'Point', 'coordinates': [-14.2, 27.7]},
 89: {'type': 'Point', 'coordinates': [170.0, 29.3]},
 90: {'type': 'Point', 'coordinates': [-54.7, 30.7]},
 91: {'type': 'Point', 'coordinates': [-135.3, 33.2]},
 92: {'type': 'Point', 'coordinates': [-164.4, 35.8]},
 93: {'type': 'Point', 'coordinates': [-23.7, 37.2]},
 94: {'type': 'Point', 'coordinates': [-73.2, 38.4]},
 95: {'type': 'Point', 'coordinates': [-35.7, 39.8]},
 96: {'type': 'Point', 'coordinates': [-62.6, 40.9]},
 97: {'type': 'Point', 'coordinates': [6.8, 43.6]},
 98: {'type': 'Point', 'coordinates': [-33.5, 45.1]},
 99: {'type': 'Point', 'coordinates': [-129.0, 45.8]},
 100: {'type': 'Point', 'coordinates': [-10.7, 48.2]},
 101: {'type': 'Point', 'coordinates': [-132.4, 50.7]},
 102: {'type': 'Point', 'coordinates': [-137.2, 54.6]},
 103: {'type': 'Point', 'coordinates': [10.4, 66.7]},
 104: {'type': 'Point', 'coordinates': [-3.5, -7.3]},
 105: {'type': 'Point', 'coordinates': [-169.8, -13.5]},
 106: {'type': 'Point', 'coordinates': [12.1, -20.0]},
 107: {'type': 'Point', 'coordinates': [112.3, -25.6]},
 108: {'type': 'Point', 'coordinates': [16.9, -33.0]},
 109: {'type': 'Point', 'coordinates': [-79.7, -37.8]},
 110: {'type': 'Point', 'coordinates': [-41.8, 38.4]},
 111: {'type': 'Point', 'coordinates': [5.2, 54.0]},
 112: {'type': 'Point', 'coordinates': [-64.6, 49.4]},
 113: {'type': 'Point', 'coordinates': [88.3, 1.4]},
 114: {'type': 'Point', 'coordinates': [-131.9, 31.2]},
 115: {'type': 'Point', 'coordinates': [-34.1, 35.0]},
 116: {'type': 'Point', 'coordinates': [-42.9, 38.4]},
 117: {'type': 'Point', 'coordinates': [-173.6, 49.3]},
 118: {'type': 'Point', 'coordinates': [-140.2, 55.4]},
 119: {'type': 'Point', 'coordinates': [-17.5, 21.8]},
 120: {'type': 'Point', 'coordinates': [-116.8, 29.9]},
 121: {'type': 'Point', 'coordinates': [39.8, 71.1]},
 122: {'type': 'Point', 'coordinates': [-156.0, 54.0]},
 123: {'type': 'Point', 'coordinates': [-8.5, 55.4]},
 124: {'type': 'Point', 'coordinates': [3.2, 51.9]},
 125: {'type': 'Point', 'coordinates': [2.0, 56.4]},
 126: {'type': 'Point', 'coordinates': [-59.9, 46.7]},
 127: {'type': 'Point', 'coordinates': [-16.7, 63.3]},
 128: {'type': 'Point', 'coordinates': [-59.6, 44.1]},
 129: {'type': 'Point', 'coordinates': [-57.5, 45.1]},
 130: {'type': 'Point', 'coordinates': [-54.9, 49.7]},
 131: {'type': 'Point', 'coordinates': [2.1, 59.9]},
 132: {'type': 'Point', 'coordinates': [-19.8, 33.2]},
 133: {'type': 'Point', 'coordinates': [3.3, 59.0]},
 134: {'type': 'Point', 'coordinates': [173.5, -39.1]},
 135: {'type': 'Point', 'coordinates': [149.8, 24.2]},
 136: {'type': 'Point', 'coordinates': [7.5, 42.2]},
 137: {'type': 'Point', 'coordinates': [-178.0, 47.9]},
 138: {'type': 'Point', 'coordinates': [-179.0, 24.4]},
 139: {'type': 'Point', 'coordinates': [116.2, 6.8]},
 140: {'type': 'Point', 'coordinates': [3.2, 53.2]},
 141: {'type': 'Point', 'coordinates': [-7.2, 55.5]},
 142: {'type': 'Point', 'coordinates': [-125.0, 38.4]},
 143: {'type': 'Point', 'coordinates': [-50.5, 48.9]},
 144: {'type': 'Point', 'coordinates': [-66.4, 28.5]},
 145: {'type': 'Point', 'coordinates': [121.5, 38.2]},
 146: {'type': 'Point', 'coordinates': [153.0, 45.5]},
 147: {'type': 'Point', 'coordinates': [-11.3, 54.0]},
 148: {'type': 'Point', 'coordinates': [-26.2, 66.1]},
 149: {'type': 'Point', 'coordinates': [-124.4, 41.8]},
 150: {'type': 'Point', 'coordinates': [9.4, 41.2]},
 151: {'type': 'Point', 'coordinates': [-96.3, 3.8]},
 152: {'type': 'Point', 'coordinates': [-9.7, 39.4]},
 153: {'type': 'Point', 'coordinates': [18.8, 57.0]},
 154: {'type': 'Point', 'coordinates': [-2.7, 50.6]},
 155: {'type': 'Point', 'coordinates': [42.1, -13.7]},
 156: {'type': 'Point', 'coordinates': [39.3, 19.5]},
 157: {'type': 'Point', 'coordinates': [1.3, 58.7]},
 158: {'type': 'Point', 'coordinates': [86.7, 17.5]},
 159: {'type': 'Point', 'coordinates': [-6.4, 2.8]},
 160: {'type': 'Point', 'coordinates': [-16.9, 17.1]},
 161: {'type': 'Point', 'coordinates': [39.6, 19.5]},
 162: {'type': 'Point', 'coordinates': [-34.8, 28.9]},
 163: {'type': 'Point', 'coordinates': [-3.4, 36.0]},
 164: {'type': 'Point', 'coordinates': [3.7, 37.1]},
 165: {'type': 'Point', 'coordinates': [164.8, 44.4]},
 166: {'type': 'Point', 'coordinates': [2.3, 61.0]},
 167: {'type': 'Point', 'coordinates': [-67.6, 48.9]},
 168: {'type': 'Point', 'coordinates': [-60.1, 46.5]},
 169: {'type': 'Point', 'coordinates': [-9.8, 55.4]},
 170: {'type': 'Point', 'coordinates': [21.5, 61.2]},
 171: {'type': 'Point', 'coordinates': [3.2, 67.8]},
 172: {'type': 'Point', 'coordinates': [145.5, 38.5]},
 173: {'type': 'Point', 'coordinates': [-124.0, 85.6]},
 174: {'type': 'Point', 'coordinates': [2.3, 61.0]},
 175: {'type': 'Point', 'coordinates': [-44.4, 49.1]},
 176: {'type': 'Point', 'coordinates': [3.2, 56.5]},
 177: {'type': 'Point', 'coordinates': [10.7, 71.1]},
 178: {'type': 'Point', 'coordinates': [0.1, 57.9]},
 179: {'type': 'Point', 'coordinates': [-17.2, 11.7]},
 180: {'type': 'Point', 'coordinates': [-59.5, 44.0]},
 181: {'type': 'Point', 'coordinates': [-61.8, 47.9]},
 182: {'type': 'Point', 'coordinates': [-48.2, 35.4]},
 183: {'type': 'Point', 'coordinates': [3.6, 51.9]},
 184: {'type': 'Point', 'coordinates': [3.2, 53.2]},
 185: {'type': 'Point', 'coordinates': [-85.9, 22.6]},
 186: {'type': 'Point', 'coordinates': [-59.9, 43.7]},
 187: {'type': 'Point', 'coordinates': [-29.0, 48.0]},
 188: {'type': 'Point', 'coordinates': [-34.5, 58.1]},
 189: {'type': 'Point', 'coordinates': [-18.4, 63.3]},
 190: {'type': 'Point', 'coordinates': [18.1, 35.1]},
 191: {'type': 'Point', 'coordinates': [-71.6, 29.2]},
 192: {'type': 'Point', 'coordinates': [9.4, 41.2]},
 193: {'type': 'Point', 'coordinates': [-52.9, 27.8]},
 194: {'type': 'Point', 'coordinates': [-30.5, 59.3]},
 195: {'type': 'Point', 'coordinates': [-56.7, 45.2]},
 196: {'type': 'Point', 'coordinates': [145.5, -39.9]},
 197: {'type': 'Point', 'coordinates': [1.3, 58.7]},
 198: {'type': 'Point', 'coordinates': [-20.5, 33.0]},
 199: {'type': 'Point', 'coordinates': [110.7, 3.4]},
 200: {'type': 'Point', 'coordinates': [148.3, 16.7]},
 201: {'type': 'Point', 'coordinates': [123.5, 25.0]},
 202: {'type': 'Point', 'coordinates': [-139.6, 46.8]},
 203: {'type': 'Point', 'coordinates': [46.9, -12.1]},
 204: {'type': 'Point', 'coordinates': [145.0, -40.1]},
 205: {'type': 'Point', 'coordinates': [11.6, 54.5]},
 206: {'type': 'Point', 'coordinates': [36.2, 24.1]},
 207: {'type': 'Point', 'coordinates': [-15.2, 54.1]},
 208: {'type': 'Point', 'coordinates': [-156.8, 27.3]},
 209: {'type': 'Point', 'coordinates': [-46.7, 46.1]},
 210: {'type': 'Point', 'coordinates': [45.0, 12.5]},
 211: {'type': 'Point', 'coordinates': [-80.9, -45.3]},
 212: {'type': 'Point', 'coordinates': [78.3, 0.0]},
 213: {'type': 'Point', 'coordinates': [91.0, 6.0]},
 214: {'type': 'Point', 'coordinates': [58.1, 10.7]},
 215: {'type': 'Point', 'coordinates': [55.5, 15.3]},
 216: {'type': 'Point', 'coordinates': [58.6, 19.5]},
 217: {'type': 'Point', 'coordinates': [36.5, 24.3]},
 218: {'type': 'Point', 'coordinates': [-26.9, 27.6]},
 219: {'type': 'Point', 'coordinates': [-25.1, 33.5]},
 220: {'type': 'Point', 'coordinates': [16.3, 36.2]},
 221: {'type': 'Point', 'coordinates': [142.1, 40.0]},
 222: {'type': 'Point', 'coordinates': [147.1, 43.5]},
 223: {'type': 'Point', 'coordinates': [-48.2, 46.4]},
 224: {'type': 'Point', 'coordinates': [-18.0, 49.8]},
 225: {'type': 'Point', 'coordinates': [12.0, 54.4]},
 226: {'type': 'Point', 'coordinates': [-48.6, 59.5]},
 227: {'type': 'Point', 'coordinates': [-5.2, -1.2]},
 228: {'type': 'Point', 'coordinates': [124.2, -8.0]},
 229: {'type': 'Point', 'coordinates': [7.5, -15.0]},
 230: {'type': 'Point', 'coordinates': [-85.9, -28.5]},
 231: {'type': 'Point', 'coordinates': [-84.4, -39.0]},
 232: {'type': 'Point', 'coordinates': [-64.4, 49.0]},
 233: {'type': 'Point', 'coordinates': [32.1, -36.5]},
 234: {'type': 'Point', 'coordinates': [-110.4, 12.3]},
 235: {'type': 'Point', 'coordinates': [50.7, 17.3]},
 236: {'type': 'Point', 'coordinates': [122.3, 29.2]},
 237: {'type': 'Point', 'coordinates': [122.7, 35.9]},
 238: {'type': 'Point', 'coordinates': [1.9, 51.1]},
 239: {'type': 'Point', 'coordinates': [-56.5, -36.7]},
 240: {'type': 'Point', 'coordinates': [-49.2, 61.2]},
 241: {'type': 'Point', 'coordinates': [-23.0, 45.6]},
 242: {'type': 'Point', 'coordinates': [146.2, -9.7]},
 243: {'type': 'Point', 'coordinates': [-86.2, 9.5]},
 244: {'type': 'Point', 'coordinates': [134.8, 18.5]},
 245: {'type': 'Point', 'coordinates': [-17.6, 21.9]},
 246: {'type': 'Point', 'coordinates': [-60.9, 24.4]},
 247: {'type': 'Point', 'coordinates': [-89.5, 26.3]},
 248: {'type': 'Point', 'coordinates': [132.3, 32.3]},
 249: {'type': 'Point', 'coordinates': [-43.4, 36.5]},
 250: {'type': 'Point', 'coordinates': [158.3, 39.7]},
 251: {'type': 'Point', 'coordinates': [136.7, 42.1]},
 252: {'type': 'Point', 'coordinates': [150.4, 45.4]},
 253: {'type': 'Point', 'coordinates': [155.8, 49.5]},
 254: {'type': 'Point', 'coordinates': [0.6, 55.0]},
 255: {'type': 'Point', 'coordinates': [1.8, 61.2]},
 256: {'type': 'Point', 'coordinates': [-151.0, -2.4]},
 257: {'type': 'Point', 'coordinates': [-2.6, -9.4]},
 258: {'type': 'Point', 'coordinates': [-44.0, -30.7]},
 259: {'type': 'Point', 'coordinates': [-60.1, -45.3]},
 260: {'type': 'Point', 'coordinates': [-9.3, 44.5]},
 261: {'type': 'Point', 'coordinates': [-16.1, 25.4]},
 262: {'type': 'Point', 'coordinates': [157.0, 51.0]},
 263: {'type': 'Point', 'coordinates': [-5.4, 48.4]},
 264: {'type': 'Point', 'coordinates': [147.7, 44.9]},
 265: {'type': 'Point', 'coordinates': [-147.6, 52.0]},
 266: {'type': 'Point', 'coordinates': [114.3, -27.3]},
 267: {'type': 'Point', 'coordinates': [162.9, 18.7]},
 268: {'type': 'Point', 'coordinates': [122.6, 33.0]},
 269: {'type': 'Point', 'coordinates': [156.4, 51.5]},
 270: {'type': 'Point', 'coordinates': [70.6, 5.2]},
 271: {'type': 'Point', 'coordinates': [-123.1, 23.4]},
 272: {'type': 'Point', 'coordinates': [10.7, 37.2]},
 273: {'type': 'Point', 'coordinates': [-161.3, 45.4]},
 274: {'type': 'Point', 'coordinates': [-176.7, 53.3]},
 275: {'type': 'Point', 'coordinates': [69.2, -5.2]},
 276: {'type': 'Point', 'coordinates': [132.2, 32.2]},
 277: {'type': 'Point', 'coordinates': [157.3, 51.1]},
 278: {'type': 'Point', 'coordinates': [60.3, -66.7]},
 279: {'type': 'Point', 'coordinates': [147.1, 0.9]},
 280: {'type': 'Point', 'coordinates': [143.5, 5.3]},
 281: {'type': 'Point', 'coordinates': [128.2, 8.1]},
 282: {'type': 'Point', 'coordinates': [-62.2, 11.2]},
 283: {'type': 'Point', 'coordinates': [128.0, 12.6]},
 284: {'type': 'Point', 'coordinates': [153.3, 14.9]},
 285: {'type': 'Point', 'coordinates': [149.5, 15.9]},
 286: {'type': 'Point', 'coordinates': [-104.1, 18.3]},
 287: {'type': 'Point', 'coordinates': [134.1, 20.8]},
 288: {'type': 'Point', 'coordinates': [-64.5, 21.7]},
 289: {'type': 'Point', 'coordinates': [-17.0, 23.3]},
 290: {'type': 'Point', 'coordinates': [-86.9, 24.8]},
 291: {'type': 'Point', 'coordinates': [-148.5, 27.0]},
 292: {'type': 'Point', 'coordinates': [-53.5, 27.9]},
 293: {'type': 'Point', 'coordinates': [167.9, 29.3]},
 294: {'type': 'Point', 'coordinates': [168.5, 30.4]},
 295: {'type': 'Point', 'coordinates': [-29.2, 32.2]},
 296: {'type': 'Point', 'coordinates': [-157.4, 34.8]},
 297: {'type': 'Point', 'coordinates': [164.0, 35.5]},
 298: {'type': 'Point', 'coordinates': [-159.6, 37.2]},
 299: {'type': 'Point', 'coordinates': [-171.7, 38.3]},
 300: {'type': 'Point', 'coordinates': [7.3, 40.3]},
 301: {'type': 'Point', 'coordinates': [148.2, 41.3]},
 302: {'type': 'Point', 'coordinates': [147.3, 42.7]},
 303: {'type': 'Point', 'coordinates': [-59.7, 43.7]},
 304: {'type': 'Point', 'coordinates': [151.6, 45.2]},
 305: {'type': 'Point', 'coordinates': [-20.4, 45.8]},
 306: {'type': 'Point', 'coordinates': [-132.3, 48.0]},
 307: {'type': 'Point', 'coordinates': [163.8, 50.3]},
 308: {'type': 'Point', 'coordinates': [170.2, 52.4]},
 309: {'type': 'Point', 'coordinates': [1.3, 57.4]},
 310: {'type': 'Point', 'coordinates': [152.6, -2.6]},
 311: {'type': 'Point', 'coordinates': [95.1, -15.5]},
 312: {'type': 'Point', 'coordinates': [152.6, -23.7]},
 313: {'type': 'Point', 'coordinates': [154.1, -26.8]},
 314: {'type': 'Point', 'coordinates': [161.6, -34.1]},
 315: {'type': 'Point', 'coordinates': [175.6, -36.5]},
 316: {'type': 'Point', 'coordinates': [-61.2, -63.1]},
 317: {'type': 'Point', 'coordinates': [95.6, 6.0]},
 318: {'type': 'Point', 'coordinates': [160.6, 53.4]},
 319: {'type': 'Point', 'coordinates': [12.1, -19.1]},
 320: {'type': 'Point', 'coordinates': [143.8, 41.9]},
 321: {'type': 'Point', 'coordinates': [134.0, 28.9]},
 322: {'type': 'Point', 'coordinates': [-126.4, 34.0]},
 323: {'type': 'Point', 'coordinates': [-29.8, 38.5]},
 324: {'type': 'Point', 'coordinates': [-137.8, 46.6]},
 325: {'type': 'Point', 'coordinates': [152.5, -12.6]},
 326: {'type': 'Point', 'coordinates': [173.7, 27.3]},
 327: {'type': 'Point', 'coordinates': [63.9, -66.4]},
 328: {'type': 'Point', 'coordinates': [-117.2, 31.2]},
 329: {'type': 'Point', 'coordinates': [60.1, -66.7]},
 330: {'type': 'Point', 'coordinates': [-167.5, 45.2]},
 331: {'type': 'Point', 'coordinates': [-66.3, 45.1]},
 332: {'type': 'Point', 'coordinates': [-7.4, 61.4]},
 333: {'type': 'Point', 'coordinates': [1.1, 61.2]},
 334: {'type': 'Point', 'coordinates': [-124.4, 41.8]},
 335: {'type': 'Point', 'coordinates': [-138.8, 69.4]},
 336: {'type': 'Point', 'coordinates': [-25.6, 62.6]},
 337: {'type': 'Point', 'coordinates': [0.3, 58.4]},
 338: {'type': 'Point', 'coordinates': [12.5, 56.3]},
 339: {'type': 'Point', 'coordinates': [2.1, 52.0]},
 340: {'type': 'Point', 'coordinates': [-24.4, 63.0]},
 341: {'type': 'Point', 'coordinates': [-21.5, 32.8]},
 342: {'type': 'Point', 'coordinates': [2.1, 59.9]},
 343: {'type': 'Point', 'coordinates': [-55.3, 49.1]},
 344: {'type': 'Point', 'coordinates': [1.1, 61.2]},
 345: {'type': 'Point', 'coordinates': [145.0, 28.3]},
 346: {'type': 'Point', 'coordinates': [-10.3, 49.8]},
 347: {'type': 'Point', 'coordinates': [7.1, 54.7]},
 348: {'type': 'Point', 'coordinates': [-9.5, 55.4]},
 349: {'type': 'Point', 'coordinates': [-9.2, 55.4]},
 350: {'type': 'Point', 'coordinates': [-8.8, 55.4]},
 351: {'type': 'Point', 'coordinates': [-116.5, 29.2]},
 352: {'type': 'Point', 'coordinates': [-61.7, 45.1]},
 353: {'type': 'Point', 'coordinates': [-143.6, 48.5]},
 354: {'type': 'Point', 'coordinates': [-6.1, 62.1]},
 355: {'type': 'Point', 'coordinates': [-25.3, 66.3]},
 356: {'type': 'Point', 'coordinates': [0.3, 58.4]},
 357: {'type': 'Point', 'coordinates': [128.7, 31.9]},
 358: {'type': 'Point', 'coordinates': [11.7, -18.4]},
 359: {'type': 'Point', 'coordinates': [-0.4, 36.6]},
 360: {'type': 'Point', 'coordinates': [145.5, 38.5]},
 361: {'type': 'Point', 'coordinates': [-14.5, 62.2]},
 362: {'type': 'Point', 'coordinates': [91.3, 16.5]},
 363: {'type': 'Point', 'coordinates': [-133.3, 50.7]},
 364: {'type': 'Point', 'coordinates': [-138.8, 69.4]},
 365: {'type': 'Point', 'coordinates': [88.6, 8.1]},
 366: {'type': 'Point', 'coordinates': [38.7, 20.5]},

In [84]:
t2 = pd.DataFrame.from_dict(t, orient = 'columns')
t2

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
type,Point,Point,Point,Point,Point,Point,Point,Point,Point,Point,...,Point,Point,Point,Point,Point,Point,Point,Point,Point,Point
coordinates,"[-47.9, 47.6]","[-66.5, 45.2]","[3.6, 51.9]","[-5.3, 60.9]","[-25.2, 66.3]","[-29.7, 59.8]","[-172.0, 79.8]","[-55.9, 49.7]","[1.5, 59.5]","[4.8, 55.6]",...,"[-59.4, 47.4]","[110.0, 9.9]","[107.1, 5.5]","[-160.6, 22.4]","[154.5, 46.4]","[-26.3, 65.1]","[-56.0, -42.6]","[43.0, 13.1]","[133.6, 32.2]","[122.8, 36.7]"

In [85]:
t2_transpose = t2.transpose()
t2_transpose

       type     coordinates
0     Point   [-47.9, 47.6]
1     Point   [-66.5, 45.2]
2     Point     [3.6, 51.9]
3     Point    [-5.3, 60.9]
4     Point   [-25.2, 66.3]
...     ...             ...
9995  Point   [-26.3, 65.1]
9996  Point  [-56.0, -42.6]
9997  Point    [43.0, 13.1]
9998  Point   [133.6, 32.2]
9999  Point   [122.8, 36.7]

[10000 rows x 2 columns]

In [86]:
df2 = df2.drop(['position'], axis = 1)

In [87]:
df2 = pd.concat([df2, t2_transpose], axis = 1)
df2.head()

,_id,st,ts,elevation,callLetters,qualityControlProcess,dataSource,type,airTemperature,dewPoint,...,waveMeasurement,pastWeatherObservationManual,skyConditionObservation,presentWeatherObservationManual,atmosphericPressureObservation,skyCoverLayer,liquidPrecipitation,extremeAirTemperature,type,coordinates
0,5553a998e4b02cf7151190b8,x+47600-047900,1984-03-05 13:00:00,9999,VCSZ,V020,4,FM-13,"{'value': -3.1, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Point,"[-47.9, 47.6]"
1,5553a998e4b02cf7151190b9,x+45200-066500,1984-03-05 14:00:00,9999,VC81,V020,4,FM-13,"{'value': -4.7, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Point,"[-66.5, 45.2]"
2,5553a998e4b02cf7151190ba,x+51900+003600,1984-03-05 14:00:00,9999,PLAT,V020,4,FM-13,"{'value': 4.4, 'quality': '1'}","{'value': 3.5, 'quality': '1'}",...,"{'method': 'I', 'waves': {'period': 4, 'height...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Point,"[3.6, 51.9]"
3,5553a998e4b02cf7151190bb,x+60900-005300,1984-03-05 15:00:00,9999,TFRB,V020,4,FM-13,"{'value': 7.5, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,NaN,"[{'atmosphericCondition': {'value': '0', 'qual...","{'totalCoverage': {'value': '08', 'opaque': '9...","[{'condition': '02', 'quality': '1'}]",NaN,NaN,NaN,NaN,Point,"[-5.3, 60.9]"
4,5553a998e4b02cf7151190bc,x+66300-025200,1984-03-05 15:00:00,9999,TFBY,V020,4,FM-13,"{'value': 0.4, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,NaN,"[{'atmosphericCondition': {'value': '0', 'qual...","{'totalCoverage': {'value': '05', 'opaque': '9...","[{'condition': '02', 'quality': '1'}]",NaN,NaN,NaN,NaN,Point,"[-25.2, 66.3]"

In [88]:
#Renombramos las columnas
df2.rename(columns = {'type':'position_type',
          'coordinates':'position_coordinates'}, inplace=True)
df2.columns

Index(['_id', 'st', 'ts', 'elevation', 'callLetters', 'qualityControlProcess',
       'dataSource', 'position_type', 'airTemperature', 'dewPoint', 'pressure',
       'wind', 'visibility', 'skyCondition', 'sections',
       'precipitationEstimatedObservation', 'atmosphericPressureChange',
       'seaSurfaceTemperature', 'waveMeasurement',
       'pastWeatherObservationManual', 'skyConditionObservation',
       'presentWeatherObservationManual', 'atmosphericPressureObservation',
       'skyCoverLayer', 'liquidPrecipitation', 'extremeAirTemperature',
       'position_type', 'position_coordinates'],
      dtype='object')

In [62]:
#Fem una funció per fer-ho més ràpid

def aDf(x):
    name = x.name
    
    a = x
    a_dict = a.to_dict()
    a_df = pd.DataFrame.from_dict(a_dict, orient='columns')
    a_df_transpose = a_df.transpose()
    n_columns = a_df_transpose.columns
    
    new_names = []
    for n in n_columns:#Crea la llista de noms de columnes
        new_name = name + '_' + n
        new_names.append(new_name)
        
    a_df_transpose.columns = new_names#introduir list
    
    return a_df_transpose, name

In [63]:
test,name = aDf(df2.iloc[:,15])
test

,precipitationEstimatedObservation_discrepancy,precipitationEstimatedObservation_estimatedWaterDepth
0,2,999
1,2,999
2,2,999
3,2,0
4,2,0
...,...,...
9995,2,3
9996,0,999
9997,2,0
9998,1,0
9999,1,0

In [64]:
print(name)

precipitationEstimatedObservation

In [90]:
#Es realitza el for per a les columnes des de la 9 fins la 16, excepte la 14 que dona error
for i in range(15,17):
    new_df, name = aDf(df2.iloc[:,i])
    df2 = df2.drop(columns = name, axis=1)
    df2 = pd.concat([df2, new_df], axis=1)

In [91]:
print(df2.shape)
print(df2.columns)
df2.head()

(10000, 39)
Index(['_id', 'st', 'ts', 'elevation', 'callLetters', 'qualityControlProcess',
       'dataSource', 'position_type', 'airTemperature', 'dewPoint', 'pressure',
       'visibility', 'sections', 'atmosphericPressureChange',
       'seaSurfaceTemperature', 'pastWeatherObservationManual',
       'presentWeatherObservationManual', 'atmosphericPressureObservation',
       'skyCoverLayer', 'liquidPrecipitation', 'extremeAirTemperature',
       'position_type', 'position_coordinates', 'wind_direction', 'wind_type',
       'wind_speed', 'skyCondition_ceilingHeight', 'skyCondition_cavok',
       'precipitationEstimatedObservation_discrepancy',
       'precipitationEstimatedObservation_estimatedWaterDepth',
       'waveMeasurement_method', 'waveMeasurement_waves',
       'waveMeasurement_seaState', 'skyConditionObservation_totalCoverage',
       'skyConditionObservation_lowestCloudCoverage',
       'skyConditionObservation_lowCloudGenus',
       'skyConditionObservation_lowestCloudBaseHeight',
       'skyConditionObservation_midCloudGenus',
       'skyConditionObservation_highCloudGenus'],
      dtype='object')

,_id,st,ts,elevation,callLetters,qualityControlProcess,dataSource,position_type,airTemperature,dewPoint,...,precipitationEstimatedObservation_estimatedWaterDepth,waveMeasurement_method,waveMeasurement_waves,waveMeasurement_seaState,skyConditionObservation_totalCoverage,skyConditionObservation_lowestCloudCoverage,skyConditionObservation_lowCloudGenus,skyConditionObservation_lowestCloudBaseHeight,skyConditionObservation_midCloudGenus,skyConditionObservation_highCloudGenus
0,5553a998e4b02cf7151190b8,x+47600-047900,1984-03-05 13:00:00,9999,VCSZ,V020,4,FM-13,"{'value': -3.1, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5553a998e4b02cf7151190b9,x+45200-066500,1984-03-05 14:00:00,9999,VC81,V020,4,FM-13,"{'value': -4.7, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5553a998e4b02cf7151190ba,x+51900+003600,1984-03-05 14:00:00,9999,PLAT,V020,4,FM-13,"{'value': 4.4, 'quality': '1'}","{'value': 3.5, 'quality': '1'}",...,999,I,"{'period': 4, 'height': 0.5, 'quality': '9'}","{'code': '99', 'quality': '9'}",NaN,NaN,NaN,NaN,NaN,NaN
3,5553a998e4b02cf7151190bb,x+60900-005300,1984-03-05 15:00:00,9999,TFRB,V020,4,FM-13,"{'value': 7.5, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,0,NaN,NaN,NaN,"{'value': '08', 'opaque': '99', 'quality': '1'}","{'value': '99', 'quality': '9'}","{'value': '99', 'quality': '9'}","{'value': 99999, 'quality': '9'}","{'value': '99', 'quality': '9'}","{'value': '99', 'quality': '9'}"
4,5553a998e4b02cf7151190bc,x+66300-025200,1984-03-05 15:00:00,9999,TFBY,V020,4,FM-13,"{'value': 0.4, 'quality': '1'}","{'value': 999.9, 'quality': '9'}",...,0,NaN,NaN,NaN,"{'value': '05', 'opaque': '99', 'quality': '1'}","{'value': '02', 'quality': '1'}","{'value': '00', 'quality': '1'}","{'value': 1750, 'quality': '1'}","{'value': '07', 'quality': '1'}","{'value': '02', 'quality': '1'}"

In [95]:
for i in range(0,39):
    print(i, ' ', type(df2.iloc[0,i]), ' ', df2.iloc[:,i].name)

0   <class 'bson.objectid.ObjectId'>   _id
1   <class 'str'>   st
2   <class 'pandas._libs.tslibs.timestamps.Timestamp'>   ts
3   <class 'numpy.int64'>   elevation
4   <class 'str'>   callLetters
5   <class 'str'>   qualityControlProcess
6   <class 'str'>   dataSource
7   <class 'str'>   position_type
8   <class 'dict'>   airTemperature
9   <class 'dict'>   dewPoint
10   <class 'dict'>   pressure
11   <class 'dict'>   visibility
12   <class 'list'>   sections
13   <class 'float'>   atmosphericPressureChange
14   <class 'float'>   seaSurfaceTemperature
15   <class 'float'>   pastWeatherObservationManual
16   <class 'float'>   presentWeatherObservationManual
17   <class 'float'>   atmosphericPressureObservation
18   <class 'float'>   skyCoverLayer
19   <class 'float'>   liquidPrecipitation
20   <class 'float'>   extremeAirTemperature
21   <class 'str'>   position_type
22   <class 'list'>   position_coordinates
23   <class 'dict'>   wind_direction
24   <class 'str'>   wind_type
25   <class 'dict'>   wind_speed
26   <class 'dict'>   skyCondition_ceilingHeight
27   <class 'str'>   skyCondition_cavok
28   <class 'str'>   precipitationEstimatedObservation_discrepancy
29   <class 'int'>   precipitationEstimatedObservation_estimatedWaterDepth
30   <class 'float'>   waveMeasurement_method
31   <class 'float'>   waveMeasurement_waves
32   <class 'float'>   waveMeasurement_seaState
33   <class 'float'>   skyConditionObservation_totalCoverage
34   <class 'float'>   skyConditionObservation_lowestCloudCoverage
35   <class 'float'>   skyConditionObservation_lowCloudGenus
36   <class 'float'>   skyConditionObservation_lowestCloudBaseHeight
37   <class 'float'>   skyConditionObservation_midCloudGenus
38   <class 'float'>   skyConditionObservation_highCloudGenus

In [96]:
#Es fa la mateixa operació que abans pels diccionaris que queden
for i in range(8,12):
    new_df, name = aDf(df2.iloc[:,i])
    df2 = df2.drop(columns = name, axis=1)
    df2 = pd.concat([df2, new_df], axis=1)

ValueError: All arrays must be of the same length